li{
    display: inline;
    padding: 0em 1em 2em 1em;
    float: right;
}
a{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: normal;
}